body {
    background-color: #f8fdfe;
    font-family: 'Figtree', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #3c433f;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3c433f;
}

.brand {
    font-family: Merriweather, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3c433f;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #6b5668;
}

.main-bg {
    background-color: #edf2f4;
}

.btn-secondary {
    background-color: #6b5668;
}

.btn-secondary:hover {
    background-color: #b48eae;
}

.btn-outline-secondary {
    color: #6b5668
}

.btn-outline-secondary:hover {
    background-color: #3c433f
}

#hero-couple {
    border-radius: 5%;
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}

a {
    color: #6b5668;
}

a:hover {
    color: #b48eae; 
}

.social {
    color: #edf2f4;
}

.social:hover {
    color: #b48eae;
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
