{% extends "base.html" %}{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}

<div class="container col-xxl-10 px-3 py-3">
  <div class="row">

    <!-- Event Column -->
    <div class="col-6 mt-3 mx-auto">
      <div class="row">

        <div class="card mb-3">

          <!-- form displayed if user hasn't created an Event -->
          {% if not user.events %}

          Create Event
          <form method="post" style="margin-top: 1.3em;" action="{% url 'create_event' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-secondary btn-md px-4 me-md-2 mt-3 mb-3">Create</button>
          </form>

          {% else %}
          
          <!-- message displayed if user has created an Event -->
          <div class="card-body">
            <p class="card-text">Your event has already been created</p>
            <a type="button" href="{% url 'home' %}" class="btn btn-secondary btn-md px-4 me-md-2">Back</a>
          </div>

          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

{% endif %}

{%endblock%}
