{% extends "base.html" %}{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}

<div class="container-fluid">
  <div class="row">

    <!-- Event Column -->
    <div class="col-6 mt-3">
      <div class="row">

        <div class="card mb-3">

          <!-- form displayed if user hasn't created an Event -->
          {% if not user.event.event_name %}

          Create Event
          <form method="post" style="margin-top: 1.3em;" action="{% url 'create_event' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-secondary btn-md px-4 me-md-2 mt-3 mb-3">Create</button>
          </form>

          {% else %}

          <div class="card-body">
            <img class="card-img-top"
              src="https://res.cloudinary.com/dkdheuvab/image/upload/v1679333275/banner_Screen-Shot-2019-07-16-at-10.31.03_pn4xzs.png"
              alt="Married couple in field banner image">
            <h3 class="card-title">{{ user.event.event_name }}</h3>
            <p class="card-text">{{ user.event.event_date }} at {{ user.event.event_time }}</p>

          </div>

          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

{% endif %}

{%endblock%}