{% extends "base.html" %}{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}

<div class="container-fluid">
  <div class="row">

    <!-- Event Column -->
    <div class="col-6 mt-3">
      <div class="row">

        <div class="card mb-3">

          Edit Event
          <form method="post" style="margin-top: 1.3em;" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-signup btn-lg">Edit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

{% endif %}

{%endblock%}