{% extends "base.html" %}{% block content %}
{% load crispy_forms_tags %}

<!-- {% if user.is_authenticated %} -->

<div class="container-fluid">
    <div class="row">
        <!-- <div class="d-flex gap-2 w-100 justify-content-between"> -->
        <div class="col-4 mt-3">
            <!-- Guest Column -->
            {% if guests %}

            <div class="list-group w-auto" style="min-width: 200px">
                <h3 class="text-center">Guestlist</h3>
                <hr class="mt-0">
                <ul id="talk">
                    {% for guest in guests %}
                    <li>
                        <a href="{{ guest.slug }}" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                            aria-current="true">
                            <img src="https://res.cloudinary.com/dkdheuvab/image/upload/v1679052686/adsddssersases2398HV_lwidlc.jpg"
                                alt="lilac envelope" width="32" height="32" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">{{ guest.guest_name }}</h6>
                                    <p class="mb-0 opacity-75">{{ guest.attending }}</p>
                                </div>
                                <small class="opacity-50 text-nowrap">{{ guest.invited }}</small>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>You do not have any guests in your guestlist</p>
                {% endif %}

            </div>
        </div>

        <!-- Spacing Column -->
        <div class="col-2 mt-3">
        </div>

        <!-- add guest form -->
        <div class="col-4 mt-3">
            <div class="list-group w-auto" style="min-width: 200px">
                <h3 class="text-center">Add Guest</h3>
                <hr class="mt-0">
                <div class="row white">
                    <div class="columns large-12">

                        <form method="POST" id="add-guest-form" action="{% url 'guestlist' %}">
                            {% csrf_token %}
                            <div class="fieldWrapper" id="the_guest">
                                {{ form | crispy }}
                            </div>
                            <div id="results"></div> <!-- errors go here -->
                            <button type="submit" class="btn btn-signup btn-lg">Add</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<!-- {% endif %} -->
<script src="/static/scripts/main.js"></script>
{%endblock%}