{% extends "base.html" %}{% block content %}

{% if user.is_authenticated %}

<div class="container col-xxl-10 px-3 py-3">
  <div class="row">

    <!-- Event Column -->
    <div class="col-6 mt-3">
      <div class="row">

        <div class="card mb-3">
          
          <!-- Wedding image -->
          <div class="card-body">
            <img class="card-img-top"
              src="https://res.cloudinary.com/dkdheuvab/image/upload/v1679333275/banner_Screen-Shot-2019-07-16-at-10.31.03_pn4xzs.png"
              alt="Married couple in field banner image">

            {% for event in events %}
            
            <!-- Event details -->
            <h3 class="card-title">{{ event.event_name }}</h3>
            <p class="card-text">{{ event.event_date }} at {{ event.event_time }}</p>
            <a href="edit_event/{{ event.id }}" class="btn btn-secondary btn-md px-4 me-md-2">Edit
              Event</a>
            {% endfor %}
            
            <!-- Card displayed if user hasn't created an event -->
            {% if not user.events %}
            <h3 class="card-text">Please create your event</h3>
            <a href="{% url 'create_event' %}" class="btn btn-secondary btn-md px-4 me-md-2">Create
              Event</a>
            {% endif %}


          </div>
        </div>
      </div>
    </div>

    <!-- Spacing Column -->
    <div class="col-1 mt-3">
    </div>

    <!-- Event Statistics Column -->
    <div class="col-4 mt-3 mb-3">
      <div class="row">
        <div class="card mb-3">
          
          <!-- Tally of guests created -->
          <div class="card-body">
            <h3 class="card-title">Attendees</h3>
            <p class="card-text">Number of guests : {{ event_stats.guests__count }}</p>
            
            <!-- Button that links to guestlist -->
            {% if user.events %}
            <a href="{% url 'guestlist' %}" class="btn btn-secondary btn-md px-4 me-md-2">Add Guests</a>
            
            <!-- Prompt message to create an event if one doesn't exist -->
            {% else %}
            <p>You must create an event before adding guests</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

  {% else %}

  <!-- credit: https://getbootstrap.com/docs/5.2/examples/heroes/ -->

  <!-- hero image displayed before login -->

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img id="hero-couple"
          src="https://res.cloudinary.com/dkdheuvab/image/upload/c_scale,q_100,w_1093/v1678722638/Screen-Shot-2019-07-16-at-10.31.03_ge7iuy.webp"
          class="d-block mx-lg-auto img-fluid" alt="Married couple in a field" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Wedding planning made easy</h1>
        <p class="lead">Create guestlists, send RSVP invitations and view attendees via simple dashboards</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{% url 'account_signup' %}" class="btn btn-secondary btn-lg px-4 me-md-2">Sign
            Up</a>
          <a href="{% url 'account_login' %}" class="btn btn-outline-secondary btn-lg px-4">Log
            In</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  {% endif %}

  {%endblock%}
