{% extends "base.html" %}{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}

<div class="container-fluid">
  <div class="row">

    <!-- Event Column -->
    <div class="col-6 mt-3">
      <div class="row">

        <div class="card mb-3">

          <div class="card-body">
            <img class="card-img-top"
              src="https://res.cloudinary.com/dkdheuvab/image/upload/v1679333275/banner_Screen-Shot-2019-07-16-at-10.31.03_pn4xzs.png"
              alt="Married couple in field banner image">
            
            {% if user.event.event_name %}
            
            <h3 class="card-title">{{ user.event.event_name }}</h3>
            <p class="card-text">{{ user.event.event_date }} at {{ user.event.event_time }}</p>
            
            {% else %}

            <a type="button" href="{% url 'create_event' %}" class="btn btn-secondary btn-md px-4 me-md-2 mt-3">Create Event</a>

            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Spacing Column -->
    <div class="col-2 mt-3">
    </div>

    <!-- Guestlist Column -->
    <div class="col-4 mt-3 mb-3">
      <div class="row">

        <div class="list-group w-auto" style="min-width: 200px">
          <h3 class="text-center">Guestlist</h3>
          <hr class="mt-0">

          {% for guest in guest_list %}

          <a href="{{ guest.slug }}" class="list-group-item list-group-item-action d-flex gap-3 py-3"
            aria-current="true">
            <img src="https://res.cloudinary.com/dkdheuvab/image/upload/v1679052686/adsddssersases2398HV_lwidlc.jpg"
              alt="lilac envelope" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">{{ guest.guest_name }}</h6>
                <p class="mb-0 opacity-75">{{ guest.attending }}</p>
              </div>
              <small class="opacity-50 text-nowrap">{{ guest.invited }}</small>
            </div>
          </a>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<!-- credit: https://getbootstrap.com/docs/5.2/examples/heroes/ -->

<!-- hero image displayed before login -->

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img id="hero-couple"
        src="https://res.cloudinary.com/dkdheuvab/image/upload/c_scale,q_100,w_1093/v1678722638/Screen-Shot-2019-07-16-at-10.31.03_ge7iuy.webp"
        class="d-block mx-lg-auto img-fluid" alt="Married couple in a field" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Wedding planning made easy</h1>
      <p class="lead">Create guestlists, send RSVP invitations and view attendees via simple dashboards</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a type="button" href="{% url 'account_signup' %}" class="btn btn-secondary btn-lg px-4 me-md-2">Sign
          Up</a>
        <a type="button" href="{% url 'account_login' %}" class="btn btn-outline-secondary btn-lg px-4">Log
          In</a>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

{% endif %}

{%endblock%}